html {
    scroll-behavior: smooth;
}

.bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
#lc{
    background-color: rgba(0, 0, 0, 0.418);
}

.card{
    max-height: 100%;
    transition: transform .2s;
}

.card:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.h{
    height: 100vh;
}

nav a{
    color:black;
}

nav a:hover{
    color: black;
    border-bottom: 2px solid black;
}

.btn-black{
    color: black;
    background-color: white;
}

.btn-black:hover{
    color:  white;
    background-color:black;
    
}

.active{
    border-bottom: 2px solid black;
}

.card-margin{
    margin-top: 40px;
}

#contact-box{
    width: 50%;
}

.bg-bg{
    background-color: #e9ecef;
}

.rt{
    transform: rotate(-3deg);
    width: 100%;
}

/* +----------------+ */
/* Mobile-Version CSS */
/* +----------------+ */
@media screen and (max-width: 800px) {
    .ham-burger a{
        display: none;
    }
    .card-margin{
        margin-top: 0;
    }
    .rm{
        margin: 0 -6rem;
    }
    h4{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
    .card-body{
        padding: 0;
    }
    #contact-box{
        width: 100vw;
    }
    h5{
        font-size: 1rem;
    }
    h1{
        font-size: 2.3rem;
    }
    .rt{
        width: 100%;
    }
    .h{
        display: none;
    }
  }
